# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments & Local state
.env
.venv
.mailbox/
.state/
*.db
*.sqlite3
env/
venv/
ENV/

# Testing & cache
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# IDE & OS
.DS_Store
.vscode/
.idea/
